<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link" 
           [routerLink]="['/courses']" 
           >Courses</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" 
                 [routerLink]="['/two-way']" 
                 >Two-Way</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" 
                [routerLink]="['/events']" 
                >Events</a>
    </li>
    <li class="nav-item">
            <a class="nav-link" 
                    [routerLink]="['/data-sharing']" 
                    >Data-Sharing</a>
        </li>
        <li class="nav-item">
                <a class="nav-link" 
                        [routerLink]="['/forms']" 
                       >Forms</a>
            </li>
                <li class="nav-item">
                        <a class="nav-link" 
                                [routerLink]="['/users']" 
                                 >Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" 
                                [routerLink]="['/charts']" 
                                 >Charts</a>
                    </li>

    
</ul>