<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link" 
           [routerLink]="['/courses']" 
           [routerLinkActive]="active" >Courses</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" 
                 [routerLink]="['/two-way']" 
                 [routerLinkActive]="active">Two-Way</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" 
                [routerLink]="['/events']" 
                [routerLinkActive]="active" >Events</a>
    </li>
    <li class="nav-item">
            <a class="nav-link" 
                    [routerLink]="['/data-sharing']" 
                    [routerLinkActive]="active" >Data-Sharing</a>
        </li>
        <li class="nav-item">
                <a class="nav-link" 
                        [routerLink]="['/forms']" 
                        [routerLinkActive]="active" >Forms</a>
            </li>

    
</ul>