<!--<ul>
  <li *ngFor="let user of users">
    {{user.username}}
    <button [routerLink]="['/users',user.id]">Details</button>  
  </li>
</ul>-->
<div class="container">
  <kendo-grid [data]="users" [height]="410">
    <kendo-grid-column field="id" title="ID" width="40">
    </kendo-grid-column>
    <kendo-grid-column field="name" title="Name" width="250">
    </kendo-grid-column>
    <kendo-grid-column field="username" title="Username">
    </kendo-grid-column>
    <kendo-grid-column field="email" title="Email" width="80">
    </kendo-grid-column>
</kendo-grid>
</div>
