<div class="container">
  <div class="row">
    <div class="card" style="border:1px solid black;" class="col-md-4" *ngFor="let course of courses">
      <div class="card-body">
        <h5 class="card-title">Course Name - {{course.name}}</h5>
        <p class="card-text">Duration - {{course.duration}}</p>
        <p class="card-text">Price - {{course.price}}</p>
        <p class="card-text">Instructor - {{course.instructor}}</p>
        <a (click)="details(course)" class="btn btn-primary">Details</a>
      </div>
    </div>
  </div>
</div>